@import 'rythm';
@import 'utils';

.autosuggest{
  position: relative;

  nav{
    margin: 0 1.5vw;
    padding: 0 1.5vw;
  }

  ul{
    list-style: none;
    padding-left: 0;
    margin-top:0; 
    margin-bottom: $s2;
    border-bottom: 1px solid #8e8787;
    padding-bottom: $s2;
    padding: $s1 0;
	}

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  h4{
    margin: 0;
    line-height: $s3
  }

  section{
    border-bottom: 1px solid #8e8787;
    margin: 0 1.5vw;
    padding: 0 1.5vw;
  
    input{
      box-sizing: border-box;
      padding: 1.2vw 1.2vw 1.5vw 1.2vw;
      margin-bottom: $s1;
      border: 1px solid;
      border-radius: 4px;
      width: 100%;

      font-size: $s2;
      
      &::placeholder{
        color: #615858;
        font-style: italic;
      }
    }

    &.loading{
      &:before{
        @include spinner;
      }
    }
  }

  p, a{
    margin: 0;
  }
  
  .avatar_wrapper {
    margin-right: $s2;
    margin-left: 0;
    padding: 0;

    img{
      height: 45px;
      width: 45px;
    }
  }
}
