.autosuggest{
  position: relative;

  ul{
    list-style: none;
    padding-left: 0;
	}

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input{
    padding: 1.2vw 1.2vw 1.5vw 1.2vw;
    background: #adaaaa;
    border: 1px solid;
    border-radius: 4px;
    width: calc(100% - 3vw);
    font-size: 2vw;

    &::placeholder{
      color: #615858;
      font-style: italic;
    }
  }

  span.loading{
    &:before{
      content: '';
      box-sizing: border-box;
      position: absolute;
      top:1.5vw;
      left:90%;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      border: 3px solid #acaaaa;
      border-top-color: #07d;
      border-left-color: #3088d4;
      animation: img .6s linear infinite;
      box-sizing: border-box;
    }
  }

  p, a{
    margin: 0;
  }

  a{
    font-size: 1.4vw;
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    color: #521f1f;
  }

  span{
    font-size: 1.6vw;
    font-style: italic;
    color: #3c3b3b;
  }
  
  .avatar_wrapper {
    margin-right: 2vh;
    margin-left: 0;

    img{
      height: 45px;
      width: 45px;
    }
  }
}
