.avatar_wrapper {
	position: relative;
  display: flex;
  margin: 3px;  
  background:#fff;
  padding: 5px 5px 16px 5px;

  input {
  	display: block;
  	margin-top: 2vh;
    font-size: calc(3vh/2); 
  }

  img {
    height: 50px; 
    width: 50px;
    z-index: 2;
    border: 1px solid #ccc;
    background-clip: content-box;
    box-sizing: border-box;
  }
  
  @keyframes img {
    to {transform: rotate(360deg);}
  }
   
  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 28%;
    width: 40%;
    height: 30%;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: img .6s linear infinite;
    box-sizing: border-box;
  }
}