.display_results{
	padding: 3.5vw;

	div{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	button{
		font-size: 2.1vw;
		padding: 1vw 10vw;
		margin-top: 3vw;
		cursor: pointer;
	}

	p{
    font-size: 2.5vw;
    font-weight: 800;
    margin-top: 0;
	}
}