@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import 'components/rythm';

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex{
	display: flex;
	background: #71727d;
	min-height: 90vh;
}
.gr-1{
	flex: 8;
	margin: 0;
	
  a{
    font-size: 1.5vw;
    font-weight: bold;

  }
}
.gr-2{
	flex: 5;
	text-align: left;
	color: #111;
	border-right: 1px solid #000;
	color: #111219;
	background: #bdb9b9;
	position: relative;
}

a{
  font-size: $s5;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  color: $c-cta;
}

aside{
  font-size: $s4;
  font-style: italic;
  color: $c-demph;
  font-weight: lighter;
}

h2{
    margin-top: 0;
    margin-bottom: 1vw;
    padding: 3vw;
    padding-bottom: 0;
  }