@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex{
	display: flex;
	background: #71727d;
	min-height: 90vh;
}
.gr-1{
	flex: 8;
	margin: 0;
	
}
.gr-2{
	flex: 5;
	/*padding: 2vh;*/
	text-align: left;
	color: #111;
	border-right: 1px solid #000;
	color: #111219;
	background: #bdb9b9;
	position: relative;
}

